@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: none; /* Изначально скрываем хедер */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  font-size: 24px;
  margin-right: 10px;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ff9800;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#welcome-section {
  text-align: center;
}

#welcome-section h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff9800;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
