body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 400px;
  margin: 10px auto;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
}

.item {
  text-align: center;
  background: var(--tg-theme-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-basis: calc(50% - 10px); /* Adjusted flex-basis for two cards in a row with margin */
  border: 1px solid #ccc;
  margin: 0 5px;
  padding: 10px;
}

.img {
  width: 100%;
  max-width: 100%;
}

.buy-btn,
.btn-quantity {
  padding: 8px 12px;
  background: #3498db;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s linear;
}

.buy-btn:hover,
.btn-quantity:hover {
  background: #2980b9;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.quantity-controls,
.quantity-display,
.btn-quantity {
  display: none;
}

.quantity-controls .btn-quantity.show,
.btn-quantity.show {
  display: inline-block;
}

.btn-quantity {
  width: 25px;
  height: 25px;
  background: #3498db;
  border: none;
  cursor: pointer;
  transition: background 0.2s linear;
}

.btn-quantity:hover {
  background: #2980b9;
}

.usercard {
  text-align: center;
  margin-top: 20px;
}

.txt1 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.txt2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
}
